@model MyFirstWebSite.Models.UserRegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    @RenderPage("~/Views/Shared/_Scripts.cshtml")
</head>
<body>
    <div id="wrap">
        <div id="container">

            @RenderPage("~/Views/Shared/_Header.cshtml")

            <div id="mainarea">
                @RenderPage("~/Views/Shared/_Sidebar.cshtml")


                @using (Html.BeginForm())
                {

                    <div id="content">
                        <div id="left">
                            @Html.ValidationSummary(true, "Registration Failed, fields")
                            @Html.AntiForgeryToken()
                            <h2>Registration</h2>
                            <fieldset>


                                <div class="editor-label">@Html.LabelFor(u => u.Email)</div>
                                <div class="editor-label">
                                    @Html.TextBoxFor(u => u.Email)
                                    @Html.ValidationMessageFor(u => u.Email)
                                </div>

                                <div class="editor-label">@Html.LabelFor(u => u.UserName)</div>
                                <div class="editor-label">
                                    @Html.TextBoxFor(u => u.UserName)
                                    @Html.ValidationMessageFor(u => u.UserName)
                                </div>
                                <div class="editor-label">@Html.LabelFor(u => u.Password)</div>
                                <div class="editor-label">
                                    @Html.PasswordFor(u => u.Password)
                                    @Html.ValidationMessageFor(u => u.Password)
                                </div>
                                <div class="editor-label">@Html.LabelFor(u => u.FirstName)</div>
                                <div class="editor-label">
                                    @Html.TextBoxFor(u => u.FirstName)
                                </div>
                                <div class="editor-label">@Html.LabelFor(u => u.Surname)</div>
                                <div class="editor-label">
                                    @Html.TextBoxFor(u => u.Surname)
                                </div>
                                <input type="submit" value="Register" class="login" />
                            </fieldset>
                        </div>
                        <div id="right">
                            <p>Hello</p>
                        </div>
                    </div>

                        <!--HTML CODE FOR FOOTER -->
                }

                @RenderPage("~/Views/Shared/_Footer.cshtml")
            </div>
        </div>
    </div>
</body>
</html>
